/* PLUGINS & NEXT ADJUSTMENTS START */
/* Tailwind Plugin Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix to next js issues on mobile view */
@media screen and (max-width: 320px) {
   #__next {
      display: flex;
      min-width: 100vw;
   }
}

/* PLUGINS & NEXT ADJUSTMENTS END */


/* FONTS START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.content {
   font-family: 'Poppins', sans-serif;
}

/* FONTS END */

/* GENERIC RULES START */
body {
   color: #1B1B1B;
   background: #FED785;
   background: radial-gradient(circle, #FED785 0%, #eec263 100%);
}

/* GENERIC RULES END */

/* SPECIFIC PROPERTIES START */
.foodpiccontainer::after {
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: -2;
   opacity: 0.8;
   border-radius: 12px;
   background-image: url('/englishbf.jpg');
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-size: cover;
}

.foodcardtext::after {
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-radius: 0px 0px 12px 12px;
   z-index: -1;
   opacity: 0.4;
   background-color: #1B1B1B;
}

.new-meal-form::after {
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   /* border-radius: 0px 0px 12px 12px; */
   z-index: -1;
   opacity: 0.2;
   background-color: #1B1B1B;
}

/* Animation */
.slide-in {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   background: #066bb8;
   transform-origin: left;
}

.slide-out {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   background: #066bb8;
   transform-origin: right;
}

/* SPECIFIC PROPERTIES END */